name: Python Integration Tests

on:
  push:
    branches: [ "main" ]

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest and Generate HTML Report
        run: |
          pytest --html=report.html --self-contained-html

      - name: Upload HTML Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest-html-report
          path: report.html
